*{
    margin: 0;
}
h2{
    margin-top: 20px;
    background-color: chocolate;
    width: 90%;
    color: aliceblue;
}
h3{
    background-color: coral;
    width: 90%;
    color: gray;
}
div{
    background-color: brown;
    width: 400px;
    height: 200px;
    /*
   Esto es un comentario 
    */
    margin-top: 50px;
    margin-left: 20px;
}
p{
    margin-top: 20px;
    color: white;
}

/*Esto es una clase*/
.ColorAzul{
    background-color: blue;
}